@font-face {
  font-family: 'digital-7'; /* The name of the font */
  src: url('font/digital-7.ttf') /* The path to the font file */
}

body{
  background-color:#1d1160 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 250px;
  font-weight: bold;
  font-family: 'digital-7';
  
}

footer{
  font-size: 35px;

}
.grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 30px;
  font-size: 25px;
  


}


.result{
  
  background-color: #8F9779;
  width: 280px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
 


}

.ops{
  position: absolute;
  left: 10px;
}

#result{
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.resultContainer{
  border: 1px solid black;
  width: 255px;
  height: 125px;
  padding: 5px;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  gap: 30px;
  position: relative;
  overflow: hidden;
  

}


 .numbers{ 
  
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: pink;
  padding: 20px;
  align-items: center;


} 
.row1{
  display: inline-block;
  overflow: auto;
}

.row1{
  display: inline-block;
  overflow: auto;
}

.cell{
  margin: 5px;
  width: 60px;
  height: 50px;
  background-color: #f57177;
  
}

.cell:hover{
  background-color: grey;
  
}

.cellR{
  width: 130px;
  
}

.clearorDelete{
  background-color: #949494;
}
 .cell, .cellP{
  cursor: pointer;
 }
.cellP{
  margin: 5px;
  width: 60px;
  height: 110px;
}

.flex-container{
  display: flex;
  padding: 0px;
}

.col{
  display: flex;
  flex-direction: column;
}

.operation{
  background-color: #a697a3;
}

.cellP{
  background-color: #a697a3;
}



